*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #1F1F1F;
  color: #C8CBD4;
  margin: auto;
}

.container {
  width: 2050px;
  margin: 0 auto;
  font-weight: 300;
}

main{
  background: linear-gradient(to right, #C8CBD4 10% 30%, #1F1F1F 30% 70% );
  padding-bottom: 9%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}

p {
  margin: 0;
}

.logo {
  color: #1F1F1F;
  font-weight: 700;
  font-size: 53px;
  line-height: 65px;
}

.topnav {
  padding-top: 1%;
}

.nav {
  font-family: inherit;
  background: transparent;
  border: none;
  width: 240px;
  font-weight: 300;
}

.nav-a {
  font-size: 33px;
  line-height: 40px;
  text-decoration: none;
  color: #C8CBD4;
}

.nav-a:hover {
  font-weight: 700;
  color: #AB0505;
  transition: 0.5s;
  cursor: pointer;
}

.dropdown-btn {
  display: none;
  position: absolute;
  right: 4%;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #C8CBD4;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  padding-top: 60px;
  width: 70%;
  height: 350px;
  right: 0;
  position: absolute;
  background-color: #1F1F1F;
  min-width: 160px;
  box-shadow: 0px 7px 18px rgba(16, 16, 16, 0.7);
  z-index: 1;
}

.show {display:grid;}

.dropdown-nav {
  text-align: left;
  padding-left: 15%;
}

.cont {
  position: relative;
  margin: 0 0 0 13%;
  padding-bottom: 20%;
}

.cont:after {
	content: "";
	display: block;    
	width: 100%; 
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(#1F1F1F, transparent, #1F1F1F);
	opacity: 0.8;
  height: 100%;
}

.bg {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 200;
  font-size: 243px;
  line-height: 120%;
  margin: 0;
}

.title {
  color: #C8CBD4;
  margin-left: -3%;
  padding-top: 8%;
}

.mz {
  font-size: 45px;
  line-height: 55px;
  text-align: right;
  color: #C8CBD4;
  padding: 7% 8%;
}

.cont_about {
  padding-bottom: 9%;
  position: relative;
}

.cont_about:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(360deg, #1F1F1F 5%, rgba(31, 31, 31, 0) 60% 65%, transparent 65% 100%);
	opacity: 0.8;
}

.about {
  background: #434548;
  height: 984px;
  background-size: contain;
  font-size: 45px;
  line-height: 123%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 7px 18px rgba(16, 16, 16, 0.7);
}

.text-about {
  color: #C8CBD4;
  position: absolute;
  padding: 17% 0 0 25%;
  text-align: right;
  mix-blend-mode: difference;
}

.about-title {
  padding: 27% 0 8% 9%;
}

.photo {
  height: 120%;
  margin-top: -90px;
  padding-right: 4.5%;
}

.design {
  font-weight: 700;
  font-size: 97px;
  line-height: 120%;
  color: #AB0505;
  bottom: 11%;
  right: 4%;
  position: absolute;
}

.cont_skills {
  position: relative;
}

.bg-about {
  font-size: 764px;
  line-height: 111%;
  color: rgba(200, 203, 212, 0.07);
  position: absolute;
  right: 0;
}

.about-style {
  background-image: linear-gradient(90deg, transparent 0% 50%, rgba(200, 203, 212, 0.07) 50% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 700;
  font-size: 260px;
  line-height: 122%;
  color: #C8CBD4;
  margin: 0;
}

.skills-title {
  padding: 15% 0 0 3%;
}

.skills-info {
  display: flex;
}

.skills-left {
  background-image: linear-gradient(#1F1F1F 66%, #AB0505 66% 66.2%, #1F1F1F 66.2% 100%);
  width: 67%;
  height: 1721px;
  z-index: 1;
  margin-top: -85px;
  box-shadow: 0px 7px 18px rgba(16, 16, 16, 0.7);
}

.skill {
  font-weight: 700;
  font-size: 100px;
  line-height: 122%;
  color: #C8CBD4;
  background: transparent;
  border: none;
  padding: 9% 6% 0 5%;
  font-family: inherit;
}

.skill:hover {
  cursor: pointer;
  color: #AB0505;
  transition: 0.5s;
}

.skill.active {
  cursor: pointer;
  color: #AB0505;
  font-weight: 700;
  font-size: 100px;
  line-height: 122%;
  background: transparent;
  border: none;
  font-family: inherit;
}

.statistic {
  padding-top: 34%;
  display: none;
}

.statistic-text {
  width: 125%;
  padding: 0px 0 10% 23%;
  font-weight: 300;
  font-size: 40px;
  line-height: 142%;
  color: #C8CBD4;
}

.statistic-right {
  padding: 1% 0 0 11%;
}

.percent {
  border: 1px solid #C8CBD4;
  border-radius: 6px;
  width: 826px;
  height: 15px;
  margin-bottom: 9%;
}

#p1 {
  background: linear-gradient(to right, #C8CBD4 12%, transparent 12% 100%);
}

#p2 {
  background: linear-gradient(to right, #C8CBD4 87%, transparent 87% 100%);
}

#p3 {
  background: linear-gradient(to right, #C8CBD4 95%, transparent 95% 100%);
}

#p4 {
  background: linear-gradient(to right, #C8CBD4 34%, transparent 34% 100%);
}

.skills-right {
  background-image: linear-gradient(transparent 4%, #C8CBD4 4% 66%, #AB0505 66% 66.2%, #C8CBD4 66.2% 93%, transparent 93% 100%);
  font-weight: 300;
  font-size: 40px;
  line-height: 225%;
  color: #1F1F1F;
  width: 33%;
  padding: 7% 3%;
  display: none;
  height: 1721px;
  margin-top: -85px;
}

.skill-text {
  word-spacing: 100px;
}

.skill-statistic {
  padding-top: 79%;
}

.skill-statistic-text {
  padding-bottom: 6%;
  line-height: 121%;
}

.info {
  display: flex;
  color: #DADEE9;
  padding: 0 4%;
  gap: 23%;
}

.info-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 245%;
}

.courses-text {
  font-weight: 200;
  font-size: 40px;
  line-height: 175%;
}

.hobbys {
  display: flex;
}

.hobby-svg {
  padding-right: 11%;
}

.cont-portfolio {
  padding: 11% 3%;
}

.tab {
  justify-content: space-between;
  display: flex;
  padding-top: 4.5%;
}

.portfolio-tab {
  width: 310px;
  font-weight: 300;
  border: none;
  background: transparent;
  font-size: 50px;
  line-height: 115%;
  color: #C8CBD4;
  font-family: inherit;
}

.portfolio-tab:hover {
  cursor: pointer;
  color: #AB0505;
  transition: 0.5s;
  font-weight: bold;
}

.portfolio-tab.active {
  width: 310px;
  cursor: pointer;
  color: #AB0505;
  font-weight: bold;
  border: none;
  background: transparent;
  font-size: 50px;
  line-height: 115%;
  font-family: inherit;
}

.portfolio-content {
  padding: 5% 0 8%;
  justify-content: space-between;
  display: none;
  box-shadow: 0px 7px 18px rgba(16, 16, 16, 0.7);
}

.design-img  {
  height: 1460px;
  width: 445px;
  display: grid;
  align-content: center;
}

.portfolio-img {
  padding-bottom: 8%;
  width: 100%;
  height: 100%;
}

.cont-contacts {
  padding: 25% 4% 0;
  display: grid;
}

.contacts-title {
  padding-bottom: 4%;
}

.contacts-links {
  width: 730px;
  font-size: 50px;
  line-height: 120%;
  color: #C8CBD4;
  text-decoration: none;
  padding-bottom: 4%;
}

.contacts-links:hover {
  cursor: pointer;
  color: #AB0505;
  transition: 0.5s;
}

.copyright {
  padding: 7% 4% 4%;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

@media screen and (max-width: 2050px) {
  .container,
  .cont_skills,
  .cont_about,
  .cont-portfolio,
  .cont-contacts
   {
    width: 100%;
  }

  .logo {
    font-size: calc(24px + (18 + 18 * 0.7) * ((100vw - 320px) / 2050));
  }

  .nav-a {
    font-size: calc(14px + (17 + 17 * 0.7) * ((100vw - 800px) / 2050));
  }

  h1 {
    font-size: calc(37px + (143 + 143 * 0.7) * ((100vw - 320px) / 2050));
  }

  .mz {
    font-size: calc(18px + (17 + 17 * 0.7) * ((100vw - 320px) / 2050));
  }

  .about {
    font-size: calc(8px + (25 + 25 * 0.7) * ((100vw - 320px) / 2050));
    height: calc(170px + (540 + 540 * 0.7) * ((100vw - 320px) / 2050));
  }

  .design {
    font-size: calc(20px + (52 + 52 * 0.7) * ((100vw - 320px) / 2050));
  }
  
  .bg-about {
    font-size: calc(110px + (450 + 450 * 0.7) * ((100vw - 320px) / 2050));
  }

  h2 {
    font-size: calc(35px + (150 + 150 * 0.7) * ((100vw - 320px) / 2050));
  }

  .skills-left {
    height: calc(274px + (980 + 980 * 0.7) * ((100vw - 320px) / 2050));
  }

  .skill {
    font-size: calc(14px + (55 + 55 * 0.7) * ((100vw - 320px) / 2050));
  }

  .skill.active {
    font-size: calc(14px + (55 + 55 * 0.7) * ((100vw - 320px) / 2050));
  }

  .statistic-text {
    font-size: calc(7px + (23 + 23 * 0.7) * ((100vw - 320px) / 2050));
  }

  .percent {
    width: calc(115px + (475 + 475 * 0.7) * ((100vw - 320px) / 2050));
    height: calc(4px + (7 + 7 * 0.7) * ((100vw - 320px) / 2050));
  }
  
  .skills-right {
    font-size: calc(7px + (23 + 23 * 0.7) * ((100vw - 320px) / 2050));
    height: calc(274px + (980 + 980 * 0.7) * ((100vw - 320px) / 2050));
  }

  .skill-statistic {
    padding-top: 73%;
  }

  .info-title {
    font-size: calc(28px + (50 + 50 * 0.7) * ((100vw - 320px) / 2050));
  }

  .courses-text {
    font-size: calc(14px + (16 + 16 * 0.7) * ((100vw - 320px) / 2050));
  }

  .portfolio-tab {
    font-size: calc(9px + (25 + 25 * 0.7) * ((100vw - 320px) / 2050));
  }
  
  .portfolio-tab.active {
    font-size: calc(9px + (25 + 25 * 0.7) * ((100vw - 320px) / 2050));
  }

  .design-img {
    height: auto;
  }

  .contacts-links {
    font-size: calc(16px + (22 + 22 * 0.7) * ((100vw - 320px) / 2050));
  }
  
  .copyright {
    font-size: calc(10px + (14 + 14 * 0.7) * ((100vw - 320px) / 2050));
  }
}

@media screen and (max-width: 1600px) {
  .skill-text {
    word-spacing: 75px;
  }
}

@media screen and (max-width: 1500px) {
  .nav {
    width: 180px;
  }
}

@media screen and (max-width: 1300px) {
  .photo {
    margin-top: -45px;
  }

  .skills-left,
  .skills-right {
    margin-top: -45px;
  }

  .skill-text {
    word-spacing: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    width: 130px;
  } 

  .skill-statistic {
    padding-top: 70%;
  }
}

@media screen and (max-width: 1110px) {
  .text-about {
    padding: 17% 0 0 20%;
  }

  svg {
    width: 50px;
    height: 57px;
    text-align: center;
  }
  
}

@media screen and (max-width: 800px) {
  
  .skills-left,
  .skills-right {
    margin-top: -20px;
  }

  .skill-text {
    word-spacing: 10px;
  }

  .nav {
    display: none;
  }

  .dropdown-btn {
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-nav {
    font-size: 16px;
  }

  .hobbys {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .dropdown-content {
    height: 255px;
  }
  
  .dropdown-nav {
    font-size: 14px;
  }
  
  .photo {
    margin-top: -20px;
  }

  .about-title {
    padding: 32% 0 8% 6%;
  }

  .statistic {
    padding-top: 36.5%;
  }

  .percent {
    border: 0.5px solid #C8CBD4;
  }
}

@media screen and (max-width: 340px) {
  .statistic {
    padding-top: 38.5%;
  }

  .text-about {
    padding: 17% 0 0 14%;
  }

  svg {
    width: 35px;
    height: 42px;
  }
}
